# Firebase Configuration

# You can find these in your Firebase Console -> Project Settings -> Service Accounts
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Backend configuration
PORT=5001
NODE_ENV=development
